<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Event app", new_user_event_path(@user), id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            
            <li> <%= link_to "Logout", welcome_path %></li>

          </ul>
        </nav>
      </div>
      </header>